.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 2% 5%;
  color: white;
  background: rgb(136, 136, 212);
  background: linear-gradient(
    90deg,
    rgb(136, 136, 212) 0%,
    rgb(0, 212, 255) 50%,
    rgb(136, 136, 212) 100%
  );
  border-bottom: 4px solid rgb(136, 136, 212);
}
.header-container h1 {
  font-size: 4rem;
}
.header-container h1:hover {
  cursor: pointer;
}
