.sortedPostsBar-author-info__wrapper {
  text-align: center;
  margin: 5% 10%;
  width: 80%;
}
.sortedPostsBar-author-info__wrapper h2, h3 {
  display: inline;
}
.sortedPostsBar-posts__wrapper {
  margin: 0 15%;
  width: 80%;
}
