.tag {
    background: rgba(0, 213, 255, 0.13);
    font-weight: 400;
    margin: 5px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  .tag:hover {
    transform: scale(1.2);
    text-decoration: none !important;
  }