.sideBarLinks-wrapper {
  width: 80%;
  margin: 10%;
}
.sideBarLinks-wrapper h3 {
  color: rgb(136, 136, 212);
}
.sideBarLinks_links-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5%;
  margin-left: 3%;
  padding: 10px 0;
}
.sideBarLinks_links-wrapper p {
  border: 1px solid rgba(212, 212, 212, 0.151);
  background: rgba(212, 212, 212, 0.151);
  padding: 5px;
  text-align: center;
}

